*{
    padding: 0;
    margin: 0;
}
body{
    font-family: " 微软雅黑";
}
a{
    text-decoration: none;
}
ul ,ol {
    list-style: none;
}
img{
    border: none;
    display: block;
}
input{
    outline: none;
    border: none;
    display: block;
    background: none;
}
textarea{
    outline: none;
    border: none;
    display: block;
    background: none;
    overflow: hidden;
    resize: none;
}
.clearfix:after{

    width: 0;
    height: 0;
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
}
.top{
    height:.75rem;
    width: 100%;
    background: #fff;
    position: relative;
}
.logo{
    display: block;
    width: 3.12rem;
    height: auto;
    float: left;
    margin: .05rem 0 0 .12rem;
}
.logo img{
    display: block;
    width: 3.12rem;
    height: auto;
}
.menu{
    width: .45rem;
    height: .32rem;
    display: block;
    position: absolute;
    top: 50%;
    float: right;
    margin-top: -.16rem;
    right: 6%;
}
.menu img{
    width:.45rem;
    display: block;
}
.menu_list{
    visibility: hidden;
    float: right;
}
section {
    width: 90%;
    margin: 0 auto;
}
section nav ul{
    width: 90%;
    margin: 0 auto;
}
section nav ul li a{
    font-size: .28rem;
    color: #2c2b2b;
}
.title h4{
    color: #c12b2b;
    font-size: .36rem;
    text-align: center;
}
.title h5{
    color: #c12b2b;
    font-size: .14rem;
    text-align: center;
}
.title h5 span{
    color: #343434;
    font-size: .14rem;
}
.about_us{
    padding-top: .17rem;
}
.about_us a{
    width: 100%;
    display: block;
}
.about_us a img{
    width: 100%;
    display: block;
}
.about_us p{
    font-size: .3rem;
    color: #2e2929;
    line-height: .45rem;
    text-indent: .5rem;
}
.products{
    padding-top: .25rem;
    width: 100%;
    padding-bottom: .15rem;
}
.products li{
    float: left;
    width: 1.95rem;
    height:1.94rem;
    border: 2px solid #c12b2b;
    position: relative;
    margin-right: .22rem;
    margin-bottom: .45rem;
}
.products li:nth-child(3n){
    margin-right: 0;
}
.products li a{
    display: block;
    width: 100%;
    height: 100%;
}
.products li a img{
    width:  100%;
}
.products li a span{
    font-size: .21rem;
    color: #fff;
    text-align: center;
    display: block;
    height: .35rem;
    line-height: .35rem;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.news{
    width: 100%;
    padding-top: .35rem;
    padding-bottom: .1rem;
}
.news li {
    width: 95%;
    margin: 0 auto .46rem;

}
.news li .left{
    width: 1.34rem;
    height: 1.38rem;
    border-bottom: 2px solid #000;
    float: left;
}
.news li .left h5{
    background: #c31023;
    font-size: .12rem;
    text-align: center;
    width: 100%;
    height: .32rem;
    line-height: .32rem;
}
.news li .left p{
    font-size: .12rem;
    width: 100%;
    height: 1.04rem;
    background: #fff;
    color: #000;
    line-height: .5rem;
    text-align: center;
    font-weight: 800;
}
.news li .left p span{
    line-height: .4rem;
    font-size: .7rem;
    display: block;
    text-align: center;
}
.news li .right{
    float: left;
    width: 4.9rem;
    background: #c12b2b;
    padding-left: .08rem;
    height: 1.39rem;
    border: 1px solid red;
}
.news li .right h5{
    padding-top: .02rem;
}
.news li .right h5 a{
    display: block;
    font-size: .30rem;
    color: #fffdfd;
}
.news li .right span{
    display: block;
    width: 100%;
    height: .08rem;
    background: url("../img/ba01.png");
    margin: .09rem auto .08rem;
}
.news li .right p{
    font-size: .28rem;
    height: .6rem;
    width: 100%;
    color: #fffdfd;
    line-height: .3rem;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.contact{
    width: 100%;
}
.contact input{
    width: 98%;
    margin: 0 auto .26rem;
    border-radius: .1rem;
    border: 1px solid #dcdcdc;
    height: .78rem;
    color: #b6b6b6;
    font-size: .4rem;
    line-height: .78rem;
    text-indent: .1rem;
}
.contact textarea{
    width: 98%;
    height: 2.6rem;
    border: 1px solid #dcdcdc;
    color: #b6b6b6;
    font-size: .4rem;
    border-radius: .1rem;
    text-indent: .1rem;
    margin: 0 auto .26rem;
}
.submit{
    width: 98%;
    margin: 0 auto;
    border-radius: .1rem;
    border: 1px solid #dcdcdc;
    height: .78rem;
    color: #fdfdfd !important;
    font-size: .5rem !important;
    line-height: .78rem;
    background: #c12b2b;
    margin-bottom: .26rem;
    text-align: center;
}
footer{
    height:.9rem;
    width: 100%;
    background-color: #1a1a1a;
}
footer p{
    padding-top: .08rem;
    font-size: .22rem;
    text-align: center;
    color: #fdfdfd;
}
footer p span{
    display: block;
}





























